<h1>候選人列表</h1>
<a href="/candidates/new">新增候選人</a>

<div class="candidate-list">
    
    <!-- 候選人start -->
    <div class="candidate-card">
        <div class="avater">
            <img src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </div>
        <div class="info">
            <h1>小鷹(51)</h1>
            <h2>美國綠</h2>
            <a href="#" class="more-detail">看政見</a>
        </div>
    </div>
    <!-- 候選人end -->

    <!-- 候選人start -->
    <div class="candidate-card">
        <div class="avater">
            <img src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </div>
        <div class="info">
            <h1>小鷹(51)</h1>
            <h2>美國綠</h2>
            <a href="#" class="more-detail">看政見</a>
        </div>
    </div>
    <!-- 候選人end -->

    <!-- 候選人start -->
    <div class="candidate-card">
        <div class="avater">
            <img src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </div>
        <div class="info">
            <h1>小鷹(51)</h1>
            <h2>美國綠</h2>
            <a href="#" class="more-detail">看政見</a>
        </div>
    </div>
    <!-- 候選人end -->

    <!-- 候選人start -->
    <div class="candidate-card">
        <div class="avater">
            <img src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </div>
        <div class="info">
            <h1>小鷹(51)</h1>
            <h2>美國綠</h2>
            <a href="#" class="more-detail">看政見</a>
        </div>
    </div>
    <!-- 候選人end -->
</div>